@font-face {
  font-family: 'CD';
  src:
    url('/fonts/CD-Black.woff2') format('woff2'),
    url('/fonts/CD-Black.woff') format('woff');
  font-weight: 700; /* Black */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CD';
  src:
    url('/fonts/CD-Semibold.woff2') format('woff2'),
    url('/fonts/CD-Semibold.woff') format('woff');
  font-weight: 400; /* Black */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CD';
  src:
    url('/fonts/CD-Light-Italic.woff2') format('woff2'),
    url('/fonts/CD-Light-Italic.woff') format('woff');
  font-weight: 400; /* Italic */
  font-style: italic;
  font-display: swap;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  lang: en;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-page);
  position: absolute;
}

main > section {
  padding-block: var(--section-block);
  padding-inline: var(--section-inline);
  width: min(100%, var(--max-width));
}

h1 {
  font-family: var(--font-header);
  color: var(--text-title-ondark);
  font-size: clamp(5rem, calc(6vw + 1rem), 8rem);
  letter-spacing: -1px;
  line-height: 113%;
}

h2 {
  font-family: var(--font-header);
  color: var(--text-title);
  font-size: var(--font-05);
  letter-spacing: -0.7px;
  line-height: 100%;
}

h3 {
  font-family: var(--font-header);
  font-weight: var(--font-weight-normal);
  color: var(--text-title);
  font-size: var(--font-04);
  line-height: 100%;
}

p {
  font-family: var(--font-body);
  color: var(--text-body);
  font-size: var(--font-02);
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.news-headline {
  font-size: var(--font-02);
  font-family: var(--font-body);
  line-height: 1.1;
  font-weight: var(--font-weight-semibold);
}
.news-source {
  color: var(--neutral-500);
  font-size: var(--font-01);
  font-family: var(--font-body);
  line-height: 1.1;
  font-weight: var(--font-weight-semibold);
}
.news-date {
  color: var(--neutral-500);
  font-size: var(--font-01);
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
}
