:root {
  /* SEMANTIC TOKENS */

  /* Background */
  --bg-page: var(--neutral-200);
  --bg-surface: var(--neutral-100);

  /* Type */
  --text-hero: var(--neutral-100);
  --text-title: var(--blue-300);
  --text-title-ondark: var(--neutral-100);
  --text-body: var(--neutral-500);
  --text-body-ondark: var(--neutral-200);

  /* Buttons */
  --button-primary: var(--orange-200);
  --button-primary__hover: oklch(from var(--orange-200) 72% 0.19 60);
  --button-secondary: var(--blue-200);
  --button-secondary__hover: oklch(from var(--blue-200) 77% 0.15 200);
  --button-text: var(--neutral-100);

  /* PRIMITIVE TOKENS */

  /* Primary Brand Colors */
  --orange-100: oklch(80% 0.15 65);
  --orange-200: oklch(67% 0.17 48);
  --orange-300: oklch(64% 0.17 37);

  /* Secondary Brand Colors */
  --blue-100: oklch(84% 0.18 190);
  --blue-200: oklch(67% 0.13 210);
  --blue-300: oklch(57% 0.12 217);

  /* Neutral / Gray Scale */
  --neutral-100: oklch(98% 0 237);
  --neutral-200: oklch(96% 0 258);
  --neutral-300: oklch(92% 0.015 227);
  --neutral-400: oklch(76% 0.025 237);
  --neutral-500: oklch(47% 0.025 237);
  --neutral-600: oklch(32% 0.027 242);

  /* Transparencies */
  --photo-underglow: linear-gradient(
    to top,
    oklch(from var(--blue-100) l c h / 0.2),
    transparent 20%
  );

  /* Shadows*/
  --shadow-shallow:
    0 1px 2px oklch(from var(--blue-300) l c h / 0.01),
    0 3px 5px oklch(from var(--blue-300) l c h / 0.02),
    0 4px 15px oklch(from var(--blue-300) l c h / 0.04);

  --shadow-drop-mid: drop-shadow(
      0 2px 4px oklch(from var(--blue-300) l c h / 0.02)
    )
    drop-shadow(0 6px 8px oklch(from var(--blue-300) l c h / 0.03))
    drop-shadow(0 10px 20px oklch(from var(--blue-300) l c h / 0.04));

  --shadow-mid:
    0 2px 4px oklch(from var(--blue-300) l c h / 0.02),
    0 6px 8px oklch(from var(--blue-300) l c h / 0.03),
    0 10px 20px oklch(from var(--blue-300) l c h / 0.04);
  --shadow-deep:
    0 2px 3px oklch(from var(--blue-300) l c h / 0.04),
    0 7px 12px oklch(from var(--blue-300) l c h / 0.05),
    0 12px 35px oklch(from var(--blue-300) l c h / 0.08);
  --button-primary-shadow:
    inset 0 1px 1px oklch(from var(--orange-100) l c h / 0.4),
    0 2px 3px oklch(from var(--orange-300) l c h / 0.1);
  --button-secondary-shadow:
    inset 0 1px 1px oklch(from var(--blue-100) l c h / 0.4),
    0 2px 3px oklch(from var(--blue-300) l c h / 0.08);

  /* Borders */
  --image-border: 1px solid var(--neutral-300);
  --news-divider: 1px solid var(--neutral-300);

  /* Spacing */
  --sp-01: 0.4rem;
  --sp-02: 0.8rem;
  --sp-03: 1.2rem;
  --sp-04: 1.6rem;
  --sp-05: 2.4rem;
  --sp-06: 3.2rem;
  --layout-01: clamp(2.8rem, 4vw, 3.2rem);
  --layout-02: clamp(4.2rem, 4.5vw, 4.8rem);
  --layout-03: clamp(5.5rem, 5vw, 7.4rem);
  --section-block: clamp(5rem, 8vw, 15rem);
  --section-inline: clamp(1.8rem, 4.5vw, 3.2rem);
  --max-width: min(100%, 151.3rem);

  /* Typography */
  --font-header: 'CD', system-ui, sans-serif;
  --font-body: 'Inter', system-ui, sans-serif;

  --font-01: 1.4rem;
  --font-02: 1.6rem;
  --font-03: 1.8rem;
  --font-04: clamp(2.3rem, 3vw, 2.4rem);
  --font-05: clamp(2.7rem, 4vw, 4rem);

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-tight: 1.35;
  --line-height-normal: 1.55;
  --line-height-loose: 1.75;

  /* Rounded Corners */
  --br-01: 0.4rem;
  --br-02: 0.8rem;
  --br-03: 1.2rem;
}
