---
import Layout from '@layouts/Layout.astro'
import Nav from '@components/Nav.astro'
import Hero from '@sections/Hero.astro'
import TwoColWrapper from '@components/TwoColWrapper.astro'
import About from '@sections/About.astro'
---

<Layout title="DanaLarsen | Canadian Drug Policy Reform Activist">
  <Nav />
  <Hero />
  <main>
    <TwoColWrapper />
    <About />
  </main>
</Layout>
