---
import Logo from '@graphics/dl-logo.svg?raw'
import Facebook from '@graphics/socials/facebook-base.svg?raw'
import Instagram from '@graphics/socials/instagram-base.svg?raw'
import X from '@graphics/socials/x-base.svg?raw'
---

<footer>
  <div class="footer-container">
    <div class="logo" set:html={Logo} />

    <ul class="footer-links-container">
      <li><a class="nav-link" href="#projects">Projects</a></li>
      <li><a class="nav-link" href="">About</a></li>
      <li><a class="nav-link" href="">Contact</a></li>
    </ul>

    <ul class="footer-socials-container">
      <li>
        <a href="social-link"><div class="social-icon" set:html={Facebook} /></a
        >
      </li>
      <li>
        <a href="social-link"
          ><div class="social-icon" set:html={Instagram} /></a
        >
      </li>
      <li>
        <a href="social-link"><div class="social-icon" set:html={X} /></a>
      </li>
    </ul>
    <small class="footer-copyright-container"
      >© Dana Larsen 2025. All rights reserved.</small
    >
  </div>
</footer>

<style>
  footer {
    display: grid;
    place-items: center;
    width: 100%;
    background-color: var(--blue-300);
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    column-gap: var(--sp-04);
    row-gap: var(--sp-04);
    width: var(--max-width);
    padding-block: var(--sp-04);
    padding-inline: var(--section-inline);
  }

  .logo {
    width: 9rem;
  }

  .footer-links-container {
    display: flex;
    gap: var(--sp-03);
  }

  .nav-link {
    font-family: var(--font-body);
    font-size: var(--font-01);
    color: var(--button-text);
    letter-spacing: 0.02rem;
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
  }

  .footer-socials-container {
    display: flex;
  }

  .footer-copyright-container {
    justify-self: center;
    grid-column: 1 / -1;
    color: var(--neutral-100);
    font-family: var(--font-body);
    font-size: var(--font-01);
  }
</style>
