---
const { title, icon } = Astro.props

import sidebarUnderline from '@graphics/sidebar-underline.svg?raw'
---

<ul>
  <div class="heading-container">
    <div class="headline-icon" set:html={icon} />
    <h2>{title}</h2>
  </div>
  <div class="sidebar-underline" set:html={sidebarUnderline} /><slot />
</ul>

<style>
  h2 {
    font-size: var(--font-04);
    font-weight: 400;
  }
  .heading-container {
    display: flex;
    align-items: center;
    gap: var(--sp-02);
  }

  .sidebar-underline {
    margin-block-end: var(--sp-04);
  }

  ul > :global(li:not(:last-child)) {
    border-bottom: var(--news-divider);
  }
</style>
