---
const { title, icon, viewAllHref } = Astro.props

import sidebarUnderline from '@graphics/sidebar-underline.svg?raw'
---

<section>
  <div class="heading-container">
    <div class="headline-icon" set:html={icon} />
    <h2>{title}</h2>
  </div>
  <div class="sidebar-underline" set:html={sidebarUnderline} /><ul><slot /></ul>
  {
    viewAllHref && (
      <div class="view-all-container">
        <a href={viewAllHref} class="view-all-link">
          View all &rarr;
        </a>
      </div>
    )
  }
</section>

<style>
  section {
    margin-block-end: var(--layout-02);
  }
  h2 {
    font-size: var(--font-04);
    font-weight: 400;
  }
  .heading-container {
    /* padding-inline: var(--sp-06); */
    display: flex;
    align-items: center;
    gap: var(--sp-02);
  }

  .sidebar-underline {
    /* padding-inline: var(--sp-06); */
    margin-block-end: var(--sp-04);
  }

  ul > :global(li:not(:last-child)) {
    border-bottom: var(--news-divider);
  }

  .view-all-container {
    /* padding-inline: var(--sp-06); */
    padding-block: var(--sp-03);
    border-top: var(--news-divider);
  }

  .view-all-link {
    font-family: var(--font-body);
    font-size: var(--font-02);
    font-weight: var(--font-weight-semibold);
    color: var(--blue-200);
    text-decoration: none;
    transition: color 200ms ease-out;
  }

  .view-all-link:hover {
    color: var(--blue-300);
  }

  .view-all-link:focus-visible {
    outline: var(--focus-ring);
    outline-offset: 4px;
    border-radius: var(--br-01);
  }

  @media (max-width: 768px) {
    h2 {
      font-size: var(--font-05);
      font-weight: var(--font-weight-semibold);
    }

    .heading-container {
      padding-block-end: var(--sp-02);
    }

    .sidebar-underline {
      margin-block-end: var(--sp-06);
    }
  }
</style>
