---

---

<main id="main-content">
  <section class="two-column-wrapper">
    <section class="projects-section">
      <slot />
    </section>

    <!-- Sidebar -->
    <aside class="sidebar-section">
      <slot name="news" />
      <slot name="columns" />
    </aside>
  </section>

  <style>
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 1fr 35rem;
      grid-template-rows: auto;
      grid-template-areas:
        'projects news'
        'projects news';
      /* column-gap: var(--layout-01);
      row-gap: var(--layout-01); */
      padding-inline-end: 340;

      /* background-color: grey; */
    }
    .projects-section {
      /* background-color: aquamarine; */
      grid-area: projects;
    }

    .sidebar-section {
      /* background-color: red; */
      position: sticky;
      height: 100vh;
      top: var(--sp-06);
      /* background-color: var(--neutral-100); */
      /* border-left: var(--news-sidebar-divider); */
      grid-area: news;
      /* height: auto; */
      display: flex;
      flex-direction: column;

      /* padding-inline-start: 1.2rem;
      padding-inline-end: 1.2rem; */
      /* margin-block-start: -10px;
      padding-block-start: 48px; */
      padding-block: var(--section-block);
      gap: var(--layout-01);
      z-index: 9999;
    }
    .columns-section {
      grid-area: columns;
    }

    @media (max-width: 83.4rem) {
      .two-column-wrapper {
        grid-template-columns: 1fr 30rem;
        grid-template-areas:
          'news news'
          'projects projects';
      }
    }
    @media (max-width: 40.2rem) {
      .two-column-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
          'news'
          'news'
          'projects';
      }
    }
  </style>
</main>
