<section class="two-column-wrapper">
  <section></section>
  <aside></aside>
</section>

<style>
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 30rem;
    height: 1200px;
    background-color: aqua;
  }
  section {
    background-color: aquamarine;
  }
  aside {
    background-color: blueviolet;
  }
</style>
