---
import Projects from '@sections/Projects.astro'
import SidebarBlock from '@components/SidebarBlock.astro'
import newsIcon from '@graphics/Icons/globe.svg?raw'
import columnsIcon from '@graphics/Icons/writer.svg?raw'
import NewsBlock from '@components/NewsBlock.astro'
import ColumnBlock from '@components/ColumnBlock.astro'

import story01 from '@images/column-thumbnails/dana-news-policeraid.webp'
import story02 from '@images/column-thumbnails/dana-news-supplier.jpg'
import story03 from '@images/column-thumbnails/dana-news-policeraid.webp'

const newsBlocks = [
  {
    newsImage: story01,
    newsHeadline:
      'Police raid Vancouver cannabis dispensaries linked to Dana Larsen ',
    newsSource: 'Vancouver Sun',
    newsDate: 'January 28, 2025',
    href: 'https://potheadbooks.com/',
  },
  {
    newsImage: story02,
    newsHeadline:
      'Pot Activist, retailer Dana Larsen sue for not paying supplier',
    newsSource: 'North Shore News',
    newsDate: 'May 31, 2024',
    href: 'https://potheadbooks.com/',
  },
  {
    newsImage: story03,
    newsHeadline:
      'Police raid Vancouver cannabis dispensaries linked to Dana Larsen',
    newsSource: 'Vancouver Sun',
    newsDate: '2025-01-28',
    href: 'https://potheadbooks.com/',
  },
]

const columnBlocks = [
  {
    headline: 'The deep connection between Pride and 4/20',
    source: 'The Georgia Straight',
    date: 'May 20, 2018',
    href: '#',
  },
  {
    headline: 'Vancouver 4/20 is a protest against stigmatization of cannabis',
    source: 'Daily Hive',
    date: 'Mar 7, 2019',
    href: '#',
  },
  {
    headline: 'Masturbation Panic and the War on Drugs',
    source: 'Georgia Straight',
    date: 'Nov 22, 2020',
    href: '#',
  },
  {
    headline: 'Killer Cops on Vancouver Streets',
    source: 'Georgia Straight',
    date: 'Aug 20, 2020',
    href: '#',
  },
  {
    headline: 'Challenge coins reveal disturbing side of policing',
    source: 'Georgia Straight',
    date: 'Oct 26, 2020',
    href: '#',
  },
]
---

<section class="two-column-wrapper">
  <section class="projects-section">
    <Projects />
  </section>

  <!-- News Section -->
  <aside class="news-section">
    <SidebarBlock title="Dana in the News" icon={newsIcon}>
      <!-- News Story -->
      {newsBlocks.map((props) => <NewsBlock {...props} />)}
    </SidebarBlock>
    <aside class="columns-section">
      <SidebarBlock title="Dana's Columns" icon={columnsIcon}>
        {columnBlocks.map((props) => <ColumnBlock {...props} />)}
      </SidebarBlock>
    </aside>
  </aside>

  <style>
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 1fr 30rem;
      grid-template-rows: auto;
      grid-template-areas:
        'projects news'
        'projects columns';
      column-gap: var(--layout-03);
      row-gap: var(--layout-01);
      /* padding-inline-end: 0; */

      /* background-color: grey; */
    }
    .projects-section {
      /* background-color: aquamarine; */
      grid-area: projects;
    }
    .news-section {
      /* background-color: red; */
      /* border: 1px solid blueviolet; */
      grid-area: news;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: var(--layout-01);
    }
    .columns-section {
      grid-area: columns;
    }

    @media (max-width: 83.4rem) {
      .two-column-wrapper {
        grid-template-columns: 1fr 30rem;
        grid-template-areas:
          'news columns'
          'projects projects';
      }
    }
    @media (max-width: 40.2rem) {
      .two-column-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
          'news'
          'columns'
          'projects';
      }
    }
  </style>
</section>
