---

---

<div class="two-column-wrapper">
  <div class="projects-column">
    <slot />
  </div>

  <!-- Sidebar -->
  <aside class="sidebar-section">
    <slot name="news" />
    <slot name="columns" />
  </aside>
</div>

<style>
  .two-column-wrapper {
    width: var(--max-width);
    display: grid;
    grid-template-columns: 3fr 25rem;
    grid-template-rows: auto;
    grid-template-areas:
      'projects news'
      'projects news';
  }

  .projects-column {
    grid-area: projects;
  }

  .sidebar-section {
    grid-area: news;
    padding-block-start: calc(var(--section-block) - 24px);
    padding-inline: var(--section-inline);
  }

  @media (max-width: 60rem) {
    .two-column-wrapper {
      grid-template-columns: 1fr 18.75rem;
      grid-template-areas:
        'news news'
        'projects projects';
    }
  }

  @media (max-width: 40rem) {
    .two-column-wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        'news'
        'news'
        'projects';
    }
  }
</style>
