---

---

<main id="main-content">
  <section class="two-column-wrapper">
    <section class="projects-section">
      <slot />
    </section>

    <!-- Sidebar -->
    <aside class="sidebar-section">
      <slot name="news" />
      <slot name="columns" />
    </aside>
  </section>

  <style>
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 3fr 40rem;
      grid-template-rows: auto;
      grid-template-areas:
        'projects news'
        'projects news';
      /* gap: var(--section-inline); */
    }
    .projects-section {
      grid-area: projects;
    }

    .sidebar-section {
      grid-area: news;
      padding-block-start: calc(var(--section-block) - 24px);
      padding-inline: var(--section-inline);
    }

    @media (max-width: 834px) {
      .two-column-wrapper {
        grid-template-columns: 1fr 30rem;
        grid-template-areas:
          'news news'
          'projects projects';
      }
      .sidebar-section {
        background-color: transparent;
        border-left: none;
      }
      .sidebar-sticky {
        position: static;
      }
    }
    @media (max-width: 402px) {
      .two-column-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
          'news'
          'news'
          'projects';
      }
    }
  </style>
</main>
