---
import Button from '@components/Button.astro'
---

<section class="about">
  <div class="about-container">
    <div class="about-card">
      <div class="about-copy">
        <h2>Meet Dana Larsen, Canada’s Leader in Drug Policy Revolution.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl faucibus non magna ipsum.
          Lorem ipsum dolor sit amet consectetur. Nisl faucibus non magna ipsum.
        </p>
        <div class="button-wrapper">
          <Button color="primary">More about Dana</Button>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  p {
    width: min(100%, 55ch);
  }
  .about {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: right / contain no-repeat url('/images/dana-about.webp');
  }

  .about::before {
    content: '';
    position: absolute;
    inset: 0;
    background: center / cover no-repeat url('/images/dana-about.webp');
    filter: grayscale(1);
    opacity: 0.2;
    background-color: var(--blue-300);
    background-blend-mode: multiply;
    z-index: -1;
  }

  .about::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      oklch(from var(--blue-300) 44% c h),
      var(--blue-300)
    );
    z-index: -2;
  }

  .about-container {
    /* border: 1px solid red; */
    width: var(--max-width);
    padding-inline: var(--section-inline);
    position: relative;
    z-index: 2;
  }

  .about-card {
    background-color: var(--bg-surface);
    border-radius: var(--br-02);
    width: min(50%, 80rem);
    height: auto;
    box-shadow: 12px 12px 0 var(--blue-200);
    /* margin-inline-start: 60px; */
  }

  .about-copy {
    display: flex;
    flex-direction: column;
    gap: var(--sp-04);
    padding-inline: 9.6rem;
    padding-block: 7.8rem;
  }

  .button-wrapper {
    align-self: end;
    justify-self: end;
  }

  p {
    margin-block-end: var(--sp-05);
  }
</style>
