---
import Button from '@components/Button.astro'
---

<section id="about" class="about" aria-labelledby="about-heading">
  <div class="about-container">
    <div class="about-card">
      <div class="about-copy">
        <h2 id="about-heading">
          Meet Dana Larsen, Canada's Leader in Drug Policy Revolution.
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur. Nisl faucibus non magna ipsum.
          Lorem ipsum dolor sit amet consectetur. Nisl faucibus non magna ipsum.
        </p>
        <div class="button-wrapper">
          <Button color="primary">More about Dana</Button>
        </div>
      </div>
    </div>
    <img
      src="/images/dana-about.webp"
      alt="Dana Larsen"
      class="about-image"
      loading="lazy"
    />
  </div>
</section>

<style>
  p {
    width: min(100%, 55ch);
    margin-block-end: var(--sp-05);
  }

  .about {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: visible;
    padding-block: var(--section-block);
    z-index: 0;
  }

  .about::before {
    content: '';
    position: absolute;
    inset: 0 0 0 -100vw;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: -100vw; */
    background: url(public/images/danalarsen-about.webp);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.06;
  }

  .about::after {
    content: '';
    position: absolute;
    inset: 0 0 0 -100vw;
    background: linear-gradient(
      oklch(from var(--blue-300) 40% c h),
      var(--blue-300)
    );
    z-index: -2;
  }

  .about-container {
    width: var(--max-width);
    padding-inline: var(--section-inline);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
  }

  .about-card {
    /* grid-area: 1 / 1 / 8 / 5; */
    grid-area: 2 / 4 / 7 / 8;
    background: oklch(from var(--bg-surface) l c h / 0.93);
    border-radius: var(--br-02);
    width: min(70rem, 100%);
    height: auto;
    /* box-shadow: 12px 12px 0 var(--blue-200); */
    box-shadow: 10px 10px 10px oklch(from var(--neutral-600) l c h / 0.2);

    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .about-image {
    /* grid-area: 2 / 4 / 7 / 8; */
    grid-area: 1 / 1 / 8 / 5;
    width: auto;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
    justify-self: end;
    border-radius: var(--br-02);
    border: 1px solid oklch(from var(--blue-300) 45% c h);
    box-shadow: 10px 10px 10px oklch(from var(--neutral-600) l c h / 0.2);
  }

  .about-copy {
    display: flex;
    flex-direction: column;
    gap: var(--sp-04);
    padding-inline: 9.6rem;
    padding-block: 7.8rem;
  }

  .button-wrapper {
    align-self: end;
    justify-self: end;
  }

  @media (max-width: 768px) {
    .about-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }

    .about-card {
      grid-column: 1;
      grid-row: 1;
      max-width: 100%;
    }

    .about-image {
      grid-column: 1;
      grid-row: 2;
      justify-self: center;
      max-width: 80%;
      margin-block-start: var(--sp-05);
    }

    .about-copy {
      padding-inline: var(--sp-05);
      padding-block: var(--sp-06);
    }
  }
</style>
