---

---
<header>
  <div class="hero-image">
    <h1>Dana Larsen is an Advocate & Activist for Sensible Drug Policy to End the War on Drugs.</h1>
    <button>Speak with Dana</button>
    <button>About Dana</button>
  </div>
</header>

