---
import Button from '@components/Button.astro'
import HeroDivider from '@graphics/hero-divider.svg?raw'
---

<header>
  <div class="wrapper">
    <div class="content-container">
      <h1>
        <span class="name-highlight">Dana Larsen</span> is an Advocate & Activist
        for Sensible Drug Policy to <span class="text-highlight">End</span> the War
        on Drugs.
      </h1>
      <div class="buttons-container">
        <Button color="primary">Speak with Dana</Button>
        <Button color="secondary">About Dana</Button>
      </div>
    </div>

    <div class="hero-divider" set:html={HeroDivider} />
  </div>
</header>

<style>
  header {
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: max(80rem, 95vh);
    background-image:
      linear-gradient(to top, var(--photo-underglow), transparent 20%),
      url('/images/dl-hero-desktop.webp');
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
  }
  .hero-divider {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    pointer-events: none;
  }
  .hero-divider svg {
    display: block;
    width: 100%;
    height: auto;
  }
  .wrapper {
    /* background-color: red; */
    width: min(100%, var(--max-width));
    padding-inline: var(--section-inline);
  }
  .content-container {
    display: flex;
    flex-direction: column;
    gap: var(--layout-03);
    width: min(50%, calc(var(--max-width) / 2));
    height: 100%;
    margin-block-start: -10vh;
  }
  .buttons-container {
    display: flex;
    gap: var(--sp-05);
    padding-inline: var(--sp-02);
  }

  .name-highlight {
    color: var(--blue-100);
  }
  .text-highlight {
    color: var(--blue-100);
    font-style: italic;
  }
</style>
