---
import { Image } from 'astro:assets'
import heroDesktop from '@images/dl-hero-desktop.webp'
---
<header>
  <div class="wrapper">

    <div class="hero-content">
      <h1>Dana Larsen is an Advocate & Activist for Sensible Drug Policy to End the War on Drugs.</h1>
      <button>Speak with Dana</button>
      <button>About Dana</button>
    </div>
    <div></div>
     <!-- <Image
    src={heroDesktop}
    alt="Dana Larsen Giving Speech"
    class="hero-image"
    loading="eager"
    format="webp"

  /> -->
  </div>
</header>

<style>
  header {
    width: 100%;
    height: 100vh;
    background-image: url("/images/dl-hero-desktop.webp");
    /* background-color: red; */
  }
  .wrapper {
    /* background-color: aqua; */
    width: min(100%, var(--max-width));
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: var(--section-inline);
  }
  .hero-image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
  }
  .hero-content {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
</style>

