---
import danaIcon from '@graphics/dana-headicon.svg?raw'
import Button from '@components/Button.astro'
---

<section class="newsletter">
  <div class="newsletter-container">
    <div class="dana-icon" set:html={danaIcon} />
    <div class="newsletter-text-content">
      <h2 class="newsletter-title">Join the Revolution!</h2>
      <p>
        Sign up for in-depth, informative drug war related updates and join Dana
        in the fight against the war on drugs.
      </p>
    </div>
    <form class="newsletter-input">
      <label
        for="newsletter-email"
        class="newsletter-input-label visually-hidden"
      >
        Email Address
      </label>

      <input
        id="newsletter-email"
        name="email"
        type="email"
        placeholder="Enter your Email Address"
        required
        autocomplete="email"
      />

      <Button type="submit">Subscibe Today!</Button>
    </form>
    <p class="fine-print">Fully private. No spam. Unsub anytime.</p>
  </div>
</section>

<style>
  .newsletter {
    display: grid;
    place-items: center;
    margin-block-start: 6rem;
    /* margin-block: var(--section-block); */
  }

  .newsletter-container {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--layout-02);
    padding-block: var(--layout-03);
    background-color: var(--bg-surface);
    box-shadow: var(--shadow-mid);
    border-radius: var(--br-03);
  }

  .newsletter-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-03);
  }

  .dana-icon {
    position: absolute;
    top: -9rem;
    width: 12rem;
    height: auto;
    filter: drop-shadow(0 2px 2px oklch(from var(--blue-300) l c h / 0.1));
  }

  .dana-icon::before,
  .dana-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12rem;
    height: 12rem;
    translate: -50% -50%;
    border-radius: 50%;
    border: 2px solid var(--blue-100);
    animation: broadcast 6s ease-out infinite;
  }

  .dana-icon::after {
    animation-delay: 4s;
  }

  @keyframes broadcast {
    0% {
      border: 3px solid var(--blue-100);
      transform: scale(1);
      opacity: 0.35;
    }
    100% {
      border: 1px solid var(--blue-100);
      transform: scale(1.5);
      opacity: 0;
    }
  }

  /* .dana-icon :global(svg) {
    position: relative;
    transform-origin: center;
    animation: pulse 5s ease-in-out infinite;
  } */

  /* @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
  } */

  .newsletter-title {
    margin-block-start: 4rem;
  }

  p {
    width: 55ch;
    text-align: center;
  }
  .newsletter-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: var(--sp-05);
  }

  input {
    width: 100%;
    font-size: var(--font-04);
    font-family: var(--font-body);
    font-weight: var(--font-weight-semibold);
    color: var(--blue-200);
    background-color: var(--neutral-100);
    border: var(--image-border);
    padding: var(--sp-03) var(--sp-04);
    border-radius: var(--br-02);
    text-align: center;
    box-shadow: var(--shadow-shallow);
    transition:
      border-color 0.2s ease,
      box-shadow 0.3s ease;
  }
  input::placeholder {
    color: var(--neutral-400);
  }
  input:focus {
    border: 1px solid var(--blue-200);
    box-shadow: 0 0 0 3px oklch(from var(--blue-200) l c h / 0.2);
  }

  .fine-print {
    font-size: var(--font-01);
    color: var(--neutral-400);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
</style>
