---
// Card Images
import PotheadBooks from '@images/project-photos/projects-potheadbooks.png'
import CannabisDispensary from '@images/project-photos/projects-cannabisdispensary.png'
import GetYourDrugsTested from '@images/project-photos/projects-getyourdrugstested.jpg'
import CocaLeafCafe from '@images/project-photos/projects-cocaleafcafe.png'
import MushroomDispensary from '@images/project-photos/projects-mushroomdispensary.png'
import MicrodoseCafe from '@images/project-photos/projects-microdosecafe.png'

import ProjectCard from '@components/ProjectCard.astro'

const projectCards = [
  {
    src: PotheadBooks,
    title: 'Pothead Books',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'potheadbooks.com',
    href: 'https://potheadbooks.com/',
  },
  {
    src: CannabisDispensary,
    title: 'The Dispensary',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'cannabisdispensary.ca',
    href: 'https://cannabisdispensary.ca/',
  },
  {
    src: GetYourDrugsTested,
    title: 'Get Your Drugs Tested',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'getyourdrugstested.com',
    href: 'https://getyourdrugstested.com/',
  },
  {
    src: CocaLeafCafe,
    title: 'Coca Leaf Cafe',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'cocaleafcafe.com',
    href: 'https://cocaleafcafe.com/',
  },
  {
    src: MushroomDispensary,
    title: 'Mushroom Dispensary',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'mushroomdispensary.com',
    href: 'https://mushroomdispensary.com/',
  },
  {
    src: MicrodoseCafe,
    title: 'Microdose Cafe',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'microdosecafe.ca',
    href: 'https://microdosecafe.ca/',
  },
]
---

<section class="projects-section">
  <div class="section-text" id="projects">
    <h2>Dana Larsen's Projects</h2>
    <p>
      Check out any of the links below to explore Dana's various projects'
      websites.
    </p>
  </div>
  <!-- Project Cards -->

  <div class="wrapper">
    {projectCards.map((props) => <ProjectCard {...props} />)}
  </div>
</section>

<style>
  .projects-section {
    /* width: var(--section-width); */
    padding-block: var(--section-block);
    padding-inline: var(--section-inline);
  }

  .section-text {
    scroll-margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: var(--sp-03);
    padding-block-end: var(--layout-01);
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(18.75rem, 100%), 1fr));
    row-gap: clamp(1.5rem, 2.5vw, 3rem);
    column-gap: clamp(1rem, 2vw, 1.75rem);
  }


  @media (max-width: 48rem) {
    .projects-section {
      background-color: var(--surface-tint);
    }
    .section-text {
      display: flex;
      flex-direction: column;
      gap: var(--sp-03);
      padding-block-end: var(--layout-02);
      align-content: center;
      text-align: center;
    }
    h2 {
      font-size: clamp(1.75rem, 4vw, 2.5rem);
    }
    p {
      font-weight: var(--font-weight-semibold);
    }
  }
</style>
