---
import { Image } from 'astro:assets'

//Hero Image
import ImageMain from '@images/project-photos/projects-main.jpg'

// Card Images
import PotheadBooks from '@images/project-photos/projects-potheadbooks.png'
import CannabisDispensary from '@images/project-photos/projects-cannabisdispensary.png'
import GetYourDrugsTested from '@images/project-photos/projects-getyourdrugstested.jpg'
import CocaLeafCafe from '@images/project-photos/projects-cocaleafcafe.png'
import MushroomDispensary from '@images/project-photos/projects-mushroomdispensary.png'
import MicrodoseCafe from '@images/project-photos/projects-microdosecafe.png'

import ProjectCard from '@components/ProjectCard.astro'

const projectCards = [
  {
    src: PotheadBooks,
    title: 'Pothead Books',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'potheadbooks.com',
    href: 'https://potheadbooks.com/',
  },
  {
    src: CannabisDispensary,
    title: 'The Dispensary',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'cannabisdispensary.ca',
    href: 'https://cannabisdispensary.ca/',
  },
  {
    src: GetYourDrugsTested,
    title: 'Get Your Drugs Tested',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'getyourdrugstested.com',
    href: 'https://getyourdrugstested.com/',
  },
  {
    src: CocaLeafCafe,
    title: 'Coca Leaf Cafe',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'cocaleafcafe.com',
    href: 'https://cocaleafcafe.ca/',
  },
  {
    src: MushroomDispensary,
    title: 'Mushroom Dispensary',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'mushroomdispensary.com',
    href: 'https://mushroomdispensary.com/',
  },
  {
    src: MicrodoseCafe,
    title: 'Microdose Cafe',
    text: 'A smooth, low-dose mushroom shot designed to elevate you.',
    url: 'microdosecafe.ca',
    href: 'https://microdosecafe.ca/',
  },
]
---

<section>
  <div class="section-text" id="projects">
    <h2>Dana Larsen's Projects</h2>
    <p>
      Check out any of the links below to explore Dana's various projects'
      websites.
    </p>
  </div>
  <!-- <div class="project-swiper">
    <Image src={ImageMain} alt="Pothead Books" loading="lazy" />
  </div> -->

  <!-- Project Cards -->

  <div class="wrapper">
    {projectCards.map((props) => <ProjectCard {...props} />)}
  </div>
</section>

<style>
  .section-text {
    display: flex;
    flex-direction: column;
    gap: var(--sp-03);
    padding-block-end: var(--layout-01);
  }

  .project-swiper {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: var(--image-border);
    border-radius: var(--br-02);
    margin-block: var(--layout-01);
  }
  .project-swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    row-gap: clamp(2.4rem, 2.5vw, 4.8rem);
    column-gap: clamp(1.6rem, 2vw, 2.8rem);
  }

  /* .wrapper:hover :global(.card:not(:hover)) {
    filter: grayscale(35%);
    filter: brightness(0.96);
    opacity: 0.85;
    transition: opacity 300ms ease;
  } */
</style>
